body{background-color: yellow;}
h1{font-family:Times New Roman ; font-size: 40px; color:darkred ;}
p{font-family: Times New Roman; font-size:35px ; color: blue;}
img{border-style: dotted; border-width: 6px; border-color: blue;}